/* Navigation Styles */
nav {
    background-color: #ffffff00;
    box-shadow: none;
    height: 10rem;
    padding-bottom: 0;
} 
.nav2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 3rem !important;
    color: rgb(72, 78, 90);
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
}
#shop:hover {
    cursor: pointer;
}
.nav3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 3rem !important;
    color: rgb(72, 78, 90);
    background-color: rgb(223, 227, 230);
    width: 100%;
    padding: 0;
    margin: 0;
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.navlink {
    margin-right: 2rem;
}
.linkcolor {
    color: rgb(72, 78, 90)
}
.logo {
    height: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



/* Footer Styles */

.footer {
    background-color: #ffffff00 !important;
    color: rgb(72, 78, 90) !important;
    text-align: center;
    padding-top: 2rem
}
.logofooter {
    height: 3rem;
}
.social {
    color: rgb(72, 78, 90);
    margin-right: 1rem;
    font-size: 150%;
}
.social2 {
    color: rgb(72, 78, 90);
    font-size: 150%;
}
.socialContain {
    margin-top: 1rem
}
.footerTitle {
    font-weight: bold;
    text-decoration: underline
}
.infoContain a {
    color: rgb(72, 78, 90);
}
.form {
    margin-bottom: 0
}
.notification {
    text-align: center;
    color: rgb(72, 78, 90);
    font-weight: bold;
    margin-bottom: 1rem
    /* margin-top: 7%;
    margin-bottom: 5% */
}
.notificationClub {
    /* padding-bottom: 4%; */
    padding-top: 1%
}
.btn {
    background-color: rgb(72, 78, 90);
    color: white
}
.btn:hover {
    background-color: rgb(223, 227, 230);
}
.input-field {
    margin-top: 0
}
.input-field>label {
    color: rgb(72, 78, 90);
}
input[type=email]:not(.browser-default) {
    border-bottom: 1px solid rgb(72, 78, 90);
}
input[type=email]:focus + label {
    color: rgb(72, 78, 90) !important;
}
input[type=email]:focus {
    color: rgb(72, 78, 90) !important;
}
input[type=email]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid rgb(72, 78, 90);
    box-shadow: 0 1px 0 0 rgb(72, 78, 90);
}
input.valid[type=email]:not(.browser-default) {
    border-bottom: 1px solid rgb(72, 78, 90);
    box-shadow: 0 1px 0 0 rgb(72, 78, 90);
    color: rgb(72, 78, 90);
}
input.invalid[type=email]:not(.browser-default) {
    color: #F44336;
}



/* Home Page Style */

.carousel {
    height: 35rem;
}
.categories {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.container {
    position: relative;
    text-align: center;
}
.homeImgLarge {
    height: 40rem;
    width: auto;
}
.homeImgSmall {
    height: 20rem;
    width: auto;
}
.linkText {
    color: rgb(223, 227, 230);
    font-weight: bold;
    position: absolute;
    font-size: 3rem;
    top: 5%;
    left: 15%;
}



/* Admin Login Styles */

.adminLogo {
    text-align: center;
    margin-bottom: 7%;
    margin-top: 3%;
}

.adminLogo img {
    height: 12rem;
}

.adminLoginText {
    text-align: center;
    color: rgb(72, 78, 90);
}

.button {
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    background-color: rgba(34, 34, 34, 0.774);
    background-image: none;
    border-color: #ffffff;
    border-image-slice: 1;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    color: #ffffff;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    display: inline-block;
    font-size: 0.875rem;
    line-height: 0.75;
    padding: 1em 1em;
    text-shadow: none;
}
    
.button:hover {
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    border-color: rgb(48, 184, 241);
    border-image-slice: 1;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    color: rgb(48, 184, 241);
}

.buttonContain {
    text-align: center
}
input[type=password]:not(.browser-default) {
    border-bottom: 1px solid rgb(72, 78, 90);
}
input[type=password]:focus + label {
    color: rgb(72, 78, 90) !important;
}
input[type=password]:focus {
    color: rgb(72, 78, 90) !important;
}
input[type=password]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid rgb(72, 78, 90);
    box-shadow: 0 1px 0 0 rgb(72, 78, 90);
}
input.valid[type=password]:not(.browser-default) {
    border-bottom: 1px solid rgb(72, 78, 90);
    box-shadow: 0 1px 0 0 rgb(72, 78, 90);
    color: rgb(72, 78, 90);
}
input.invalid[type=password]:not(.browser-default) {
    color: #F44336;
}